@import 'tailwindcss';

@theme {
  --font-sans: 'IBM Plex Sans', system-ui, sans-serif;

  --radius-medium: 8px;
  --radius-full: 99999px;

  --text-xxl: 1.75rem; /* 28px */
  --text-xl: 1.25rem; /* 20px */
  --text-l: 1.25rem; /* 20px */
  --text-m: 1rem; /* 16px */
  --text-s: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */

  --leading-default: 1.8;
  --leading-tight: 1.5;
  --leading-tighter: 1.2;
  --leading-none: 1;
}

@media (min-width: 768px) {
  @theme {
    --text-xxl: 2.5rem; /* 40px */
    --text-xl: 1.5rem; /* 24px */
    --text-l: 1.25rem; /* 20px */
    --text-m: 1rem; /* 16px */
    --text-s: 0.875rem; /* 14px */
    --text-xs: 0.75rem; /* 12px */
  }
}
